/* Reset default margin and padding */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
}

/* Positioning */
header, h1, h2, h3, h4, .odometer {
    margin: 10px auto; 
    max-width: 90%; 
}

.container {
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    padding: 20px;
    max-width: 800px; 
    width: 100%; 
}

.container > div {
    flex: 1 1 200px; 
    max-width: 300px; 
    text-align: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 8px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

#Gasoline-Container, #Electric-Container {
    padding: 20px; 
    flex: 1; 
    margin: 0 10px; 
    text-align: center; 
}

footer {
    text-align: center;
    padding: 10px;
    width: 70%; 
    position: relative; 
    margin-bottom: 10px; 
    background-color: #f1f0f0; /* Set footer color */
    line-height: 1.75em;
    font-size: 0.75em;
}

/* Text Sizing and Color */
h2 {
    font-size: 4.5rem; 
    margin: 10px 0; 
    text-align: center; 
    color: #444; 
}

h4 {
    font-size: 1.25rem; 
    margin: 10px 0; 
}

/* Odometer styling */
.odometer {
    font-size: 2rem;
}

header img {
    max-width: 15%; 
    height: auto;
    float: right;
}

/* Fonts */
.roboto-light-grid, .roboto-light, .roboto-regular {
    font-family: "Roboto", sans-serif;
}

.roboto-light-grid {
    font-weight: 300;
    font-size: 2rem;
}

.roboto-light {
    font-weight: 300;
}

.roboto-regular {
    font-weight: 400;
}

/* Container for loading icon */
#loading {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%; 
    z-index: 1; 
    background: rgba(255, 255, 255, 0.8); 
}

/* Spinner styles */
.spinner {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #3F8540; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Typing Effect */
.typing {
    white-space: normal; /* Allows wrapping instead of single-line scrolling */
    overflow: hidden;
    width: 90%; /* Limits the headline to stay within the screen width */
}

/* Adjusting eGallon size for mobile devices */
@media (max-width: 480px) { /* For devices with a max width of 480px (like iPhone SE) */
    h2.roboto-regular {
        font-size: 3rem; /* Adjust this value as needed for your design */
    }
}


/* Container for odometers */
#odometerContainer {
    position: relative; /* Important: allows the loading screen to overlay this container */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    width: 100%;
}